<header class="topbar">
  <div class="topbar-content">
    <a id="logo_text" href="/user/">booky</a>
    <div class="search">
      <ul id="logout_profile_ul">
        <li><a id="profile_link" href="/user/profile">profile</a></li>
        <li><a id="logout_link" href="/user/logout">logout</a></li>
      </ul>

      <form class="bookmark-search" action="/user/bookmarks/find">
        <input type="search" name="search" placeholder="search...">
        <input type="submit" value="Search">
        <a href="/user/bookmarks/advanced/search">advanced</a>
      </form>
    </div>
  </div>
</header>
